<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./bower_components/bootstrap/dist/css/bootstrap.css"
    rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Contact manager</span>
            </div>
        </div>
    </div>

    <div id="app-container">
        <div id="main-region" class="container">
            <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
        </div>
    </div>

    <script type="text/template" id="contact-list-item">
        <li><%- firstName %> <%- lastName %></li>
    </script>

    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/json2/json2.js"></script>
    <script src="./bower_components/underscore/underscore.js"></script>
    <script src="./bower_components/backbone/backbone.js"></script>
    <script src="./bower_components/backbone.marionette/lib/backbone.marionette.js"></script>

    <script type="text/javascript">

    var ContactManager = new Marionette.Application();

    ContactManager.Contact = Backbone.Model.extend({
        defaults: {
            firstName: "",
            phoneNumber: "No phone number!"
        }
    });

    ContactManager.ContactCollection = Backbone.Collection.extend({
        model: ContactManager.Contact,

        comparator: function(a, b) {
            var aFirstName = a.get("firstName");
            var bFirstName = b.get("firstName");
            if(aFirstName === bFirstName) {
                var aLastName = a.get("lastName");
                var bLastName = b.get("lastName");
                if(aLastName === bLastName) { return 0; }
                if(aLastName < bLastName) { return -1;}
                else { return 1;}
            }
            else {
                if(aFirstName < bFirstName) { return -1; }
            }
        }
    });

    ContactManager.ContactItemView = Marionette.ItemView.extend({
        tagName: "li",
        template: "#contact-list-item",
        events: {
            "click li": "alertPhoneNumber"
        },

        alertPhoneNumber: function(){
            alert(this.model.escape("phoneNumber"));
        }
    });

    ContactManager.ContactsView = Marionette.CollectionView.extend({
        tagName: "ul",
        childView: ContactManager.ContactItemView
    });

    ContactManager.on("before:start", function(){
        var RegionContainer = Marionette.LayoutView.extend({
            el: "#app-container",

            regions: {
                main: "#main-region"
            }
        });
        ContactManager.regions = new RegionContainer();
    });

    ContactManager.on("start", function() {
        var contacts = new ContactManager.ContactCollection([
            {
                firstName: "Bob",
                lastName: "Brigham",
                phoneNumber: "555-0163"
            },
            {
                firstName: "Alice",
                lastName: "Tampen",
            },
            {
                firstName: "Alice",
                lastName: "Arten",
                phoneNumber: "555-0184"
            },
            {
                firstName: "Alice",
                lastName: "Artsy",
            },
            {
                firstName: "Alice",
                lastName: "Smith",
            },
            {
                firstName: "Charlie",
                lastName: "Campell",
                phoneNumber: "555-0129"
            }
        ]);

        var contactsListView = new ContactManager.ContactsView({
            collection: contacts
        });

        ContactManager.regions.main.show(contactsListView);
        console.log("ContactManager has started!")
    });

    ContactManager.start();
    </script>
</body>
</html>
